/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/ 
* {
    /* change le box model */
    box-sizing: border-box;
    }
    img {
      /* image responsive, largeur maxi */
      max-width: 100%;
      /* hauteur "auto" */
      height: auto;
    }